registry=http://192.168.33.10:8081/repository/dockernodejs/

//192.168.33.10:8081/repository/dockernodejs/:username=${NEXUS_USER}
//192.168.33.10:8081/repository/dockernodejs/:_password=${NEXUS_PASS}
//192.168.33.10:8081/repository/dockernodejs/:email=sagardeepak2002@gmail.com
always-auth=true
