#//192.168.33.10:8081/repository/dockernodejs/:username=admin
#//192.168.33.10:8081/repository/dockernodejs/:email=ci@example.com
#always-auth=true
#registry=http://192.168.33.10:8081/repository/dockernodejs/
