//192.168.33.11:8081/repository/NODEJS_JAVA_Project/:username=admin
//192.168.33.11:8081/repository/NODEJS_JAVA_Project/:_password=nexus
always-auth=true
registry=http://192.168.33.11:8081/repository/NODEJS_JAVA_Project/
